/* Css Reset */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Teko&family=Ubuntu+Condensed&family=Ubuntu:wght@300&display=swap');

body {
    margin: 0px 0px;
    padding: 0px 0px;
}

/* Variables */
:root {
    --primary-color: blue;
}

/* Design */
/* .bod {
    border: 2px solid rgb(216, 25, 25);
} */

/* Grid Template */
#main {
    display: grid;
    grid-template-areas:
        "navbar navbar navbar navbar navbar navbar navbar navbar"
        "content content content content content content content content"
        "about about about about about aside aside aside"
        "service service service service service service service service"
        "contact contact contact contact form form form form"
    ;
    /* padding: 12px; */
    /* grid-gap: 2rem; */
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

/* #main::before{
    content: "";
    background: url(/bg.webp)no-repeat center center/cover;
    position:absolute;
    top: 0px;
    left: 0px;
    z-index: -2;
    height: 100vh;
    width: 100vw;
} */

.head {
    /* background-color: rgb(221 225 229 / 21%); */
    position: sticky;
    top: 0px;
    left: 0px;
}

.head::before {
    content: "";
    background-color: white;
    /* background-color: rgb(221 225 229 / 21%); */
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.head1 {
    /* grid-area:head; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* font-size: 0.8rem; */
    width: 500px;
    /* background-color: rgb(221 225 229 / 21%); */
}

.head1 h1 {
    font-size: 1.55rem;
    margin-bottom: 0px;
    font-family: Arial, 'Ubuntu Condensed';
    line-height: 12px;
}

/* .head1 p {
    margin-top: 0px;
} */

.navbar {
    grid-area: navbar;
    display: flex;
    height: 90px;
}

.size {
    display: flex;
    background-color: rgb(221 225 229 / 21%);
    width: 100%;
}

.navbar1 {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* background-color: rgb(221 225 229 / 21%); */
    /* width: auto; */
}

.navbar1 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.navbar1 ul li {
    list-style: none;
}

.navbar1 ul li a {
    text-decoration: none;
    padding: 12px;
    color: black;
}

.content::before {
    content: "";
    background: url(/bg4.jpg_)no-repeat center center/cover;
    position: absolute;
    /* top: 0px;
    left: 0px; */
    z-index: -1;
    height: 650px;
    width: 100%;
    /* opacity: 0.7; */
}

.content {
    grid-area: content;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    height: 650px;

}

.content h1:nth-child(1) {
    margin-top: 90px;
}

.content h1:nth-child(2) {
    font-size: 9rem;
    font-weight: bolder;
    margin: 0px;
}

.about {
    grid-area: about;
    padding: 30px 110px;

}

.about h1 {
    font-size: 3rem;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.aside {
    grid-area: aside;
    background-image: url(/bg2.webp);
    background-repeat: no-repeat;
    width: 700px;

}

@media (min-width:1200px) and (max-width:1400px) {
    .aside{
        width:630px;
        /* border:2px solid black; */
    }
}
@media (min-width:1100px) and (max-width:1200px) {
    .aside{
        width:580px;
        /* border:2px solid black; */
    }
}
@media (min-width:980px) and (max-width:1100px) {
    .aside{
        width:520px;
        /* border:2px solid black; */
    }
}



.service {
    grid-area: service;

}

.contact {
    grid-area: contact;

}

.form {
    grid-area: form;
}